@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

/*=================================
=            Dashboard            =
=================================*/

.dashboard {
  display: flex;
  height: 100vh;
  background-color: var(--gray-50);
}

.sidebar {
  width: 250px;
  display: flex;
  flex-direction: column;
  border-right: var(--border);
  background-color: var(--white);
}

.dashboard-logo {
  padding: 15px 20px;
  text-align: center;
  border-bottom: var(--border);
}

.dashboard-logo :where(h1, h2, h3, h4, h5, h6) {
  color: var(--black);
  text-transform: uppercase;
  font-weight: var(--weight-700);
}

.dashboard-menu {
  flex: 1;
  overflow: auto;
  padding: 15px 0;
}

.dashboard-list {
  display: flex;
  grid-gap: 5px;
  padding: 0 20px;
  list-style: none;
  flex-direction: column;
}

.dashboard-list-item {
  overflow: hidden;
  margin-bottom: 0;
  position: relative;
  transition: 0.2s ease-in-out;
  border-radius: var(--rounded);
}

.dashboard-list-item:where(.active)>.dashboard-list-link,
.dashboard-list-item:has(.dashboard-sub-list):has(.dashboard-list-item.active)>.dashboard-list-link {
  color: var(--white);
  background-color: var(--theme);
}

.dashboard-breck-title {
  line-height: 1;
  font-size: 12px;
  margin-block: 10px;
  color: var(--theme);
  text-transform: uppercase;
  font-weight: var(--weight-600);
}

.dashboard-list-item:has(.dashboard-sub-list)>.dashboard-list-link:after {
  font-size: 14px;
  content: "\E136";
  margin-left: auto;
  transition: 0.2s ease-in-out;
  font-family: var(--icon-bold);
}

.dashboard-list-item:has(.dashboard-sub-list)>.dashboard-list-link:hover:after {
  rotate: -90deg;
}

.dashboard-list-item.active:has(.dashboard-sub-list)>.dashboard-list-link:after {
  rotate: -180deg;
}

.dashboard-list-item:not(.dashboard-sub-list .dashboard-list-item):where(:hover, .active),
.dashboard-list-item:has(.dashboard-sub-list):has(.dashboard-list-item.active) {
  background-color: var(--gray-50);
}

.dashboard-list-link {
  width: 100%;
  display: flex;
  grid-gap: 6px;
  padding: 10px 15px;
  align-items: center;
  text-decoration: none;
  color: var(--gray-700);
  transition: 0.2s ease-in-out;
}

.dashboard-list-link span {
  line-height: 1;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: var(--weight-600);
}

.dashboard-list-link i {
  font-size: 18px;
  transition: 0.2s ease-in-out;
}

.dashboard-list-item:where(.active)>.dashboard-list-link i {
  color: var(--white);
}

.dashboard-sub-list .dashboard-list-link {
  padding-inline: 0px;
}

.dashboard-sub-list .dashboard-list-link {
  color: var(--gray-500);
  background-color: transparent;
}

.dashboard-sub-list .dashboard-list-item:where(.active, :hover) .dashboard-list-link {
  color: var(--black);
}

.dashboard-sub-list {
  display: none;
  overflow: auto;
  list-style: none;
  max-height: 400px;
  padding: 10px 15px;
  border-top: var(--border);
}

.dashboard-sub-list .dashboard-list-link {
  border: none;
}

.dashboard-sub-list .dashboard-list-link span {
  font-size: 12px;
}

.dashboard-sub-list .dashboard-list-link:before {
  content: '';
  width: 6px;
  height: 6px;
  margin-left: 7.5px;
  margin-right: 7.5px;
  background-color: var(--gray-500);
  border-radius: var(--rounded-pills);
}

.dashboard-sub-list:has(.dashboard-list-item.active) {
  display: block;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 30px;
  overflow: auto;
}

.footer {
  display: flex;
  color: var(--white);
  align-items: center;
  justify-content: center;
  border-top: var(--border);
}

/*=====  End of Dashboard  ======*/
/*======================================
=            Code highlight            =
======================================*/
pre {
  margin: -20px 0 -40px;
}

pre * {
  font-size: 17px;
  line-height: 1.3;
  font-family: "Inconsolata", monospace !important;
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 10px 30px;
  min-height: 0px;
  border-radius: var(--rounded-md);
}

code.hljs {
  padding: 3px 5px;
}

.hljs-comment {
  color: #546e7a;
}

.hljs-tag,
.hljs-quote {
  color: #71ddff;
}

.hljs-deletion,
.hljs-name,
.hljs-regexp,
.hljs-template-variable,
.hljs-variable {
  color: #e85370;
}

.hljs-built_in,
.hljs-link,
.hljs-literal,
.hljs-keyword,
.hljs-number,
.hljs-params,
.hljs-type {
  color: #e18c6b;
}

.hljs-attr,
.hljs-selector-class,
.hljs-selector-id {
  color: #ffcb6b;
}

.hljs-addition,
.hljs-bullet,
.hljs-string,
.hljs-symbol {
  color: #c3e878;
}

.hljs-section,
.hljs-title,
.hljs-attribute {
  color: #a2ccd6;
}

.hljs-selector-tag,
.hljs-meta,
.hljs-selector-pseudo {
  color: #c792bf;
}

.hljs {
  background: #263238;
  color: #fff;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}

/*=====  End of Code highlight  ======*/

/*==============================
=            Screen            =
==============================*/

.screen {
  overflow: hidden;
  border: var(--border);
  background-color: var(--white);
  border-radius: var(--rounded-md) var(--rounded-md) 0 0;
}

.screen + pre code.hljs {
    border-radius: 0 0 var(--rounded-md) var(--rounded-md);
}

.screen_header {
  padding: 15px;
  display: flex;
  grid-gap: 8px;
  align-items: center;
  border-bottom: var(--border);
  background-color: var(--gray-100);
}

.white-board {
  padding: 15px;
  min-height: 100px;
  display: flex;
  align-items: center;
}

.screen .white-board > div{
  width: 100%;
}

.screen .white-board > div > * {
  margin: 5px;
}
/*=====  End of Screen  ======*/